<nav
  *ngIf="themes && themes.length > 0 && config.nombre_app !== undefined; else noThemes"
  class="navbar navbar-expand-lg navbar-{{ themes[themeSelect - 1].secondary_color }} bg-{{
    themes[themeSelect - 1].primary_color
  }}">
  <div class="container-fluid">
    <app-spinner *ngIf="!loadingConfig" [color]="themes[themeSelect - 1].primary_color"></app-spinner>
    <a *ngIf="loadingConfig" class="navbar-brand" routerLink="/">{{ config.nombre_app }}</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Inicio</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false">
            {{ usuario.nombre }}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Perfil</a></li>
            <li><hr class="dropdown-divider" *ngIf="rol.nivel === 10" /></li>
            <li><a class="dropdown-item fw-bold" href="#" *ngIf="rol.nivel === 10">ADMINISTRACION</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#" (click)="logout()">Salir</a></li>
          </ul>
        </li>
      </ul>
      <div class="d-flex">
        <app-spinner *ngIf="!loading || themeSelect === 0"></app-spinner>
        <select
          class="form-select"
          *ngIf="loading && themeSelect !== 0"
          [(ngModel)]="themeSelect"
          (change)="changeTheme()">
          <option *ngFor="let t of themes" value="{{ t.id }}">Color tema: {{ t.nombre }}</option>
        </select>
      </div>
    </div>
  </div>
</nav>

<ng-template #noThemes>
  <app-spinner></app-spinner>
</ng-template>
