<app-menu></app-menu>
<app-spinner *ngIf="!loading"></app-spinner>
<div class="border border-top-0 p-3" *ngIf="loading">
  <form #form="ngForm" (ngSubmit)="save(form.value)">
    <input type="hidden" [(ngModel)]="pista.id" name="id" value="{{ pista.id }}" />
    <div class="form-floating mb-3">
      <input type="text" class="form-control" [(ngModel)]="pista.nombre" name="nombre" />
      <label for="floatingInput">Nombre</label>
    </div>

    <button class="btn btn-dark" type="submit">Guardar</button>
  </form>
</div>
