<app-spinner *ngIf="!loading || themeActual.nombre === undefined || config.nombre_app === undefined"></app-spinner>
<!-- Footer -->
<footer
  *ngIf="loading && themeActual.nombre !== undefined && config.nombre_app !== undefined"
  class="text-center text-lg-start bg-{{ themeActual.primary_color }} text-{{ themeActual.tertiary_color }}">
  <!-- <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>

    <div>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </section> -->

  <!-- Copyright -->
  <div class="text-center p-4">
    © {{ date | date: 'YYYY' }} Copyright:
    <a class="text-reset fw-bold" routerLink="/">{{ config.nombre_app }}</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
